# ignore system files
.DS_Store
thumbs.db
__MACOSX
._*

# ignore Aptana and Eclipse project files
.project

# ignore Eclipse-specific files
/.settings/
/.buildpath

# ignore win32 binary tools
/win32tools/

# ignore Composer stuff
/vendor
